{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mirettes : trouve l'animal demandé :)</title>
    {% include 'high_ui/style.html' %}
<style>
@keyframes jump {
  from {
    margin-top: 2em;
  }

  to {
    margin-top: 0em;
  }
}

.under {
    z-index: -1;
    position: absolute;
    margin-top: 2em;
}

.over {
    z-index: -1;
    position: absolute;
    animation-duration: 0.1s;
    animation-name: jump;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-top: 2em;
}

.left {
    left: 0;
    margin-left: 2em;
}

.right {
    right: 0;
    margin-right: 2em;
}

#happies_squirrels {
    width: 100%;
}

</style>
</head>

<body>

<div id="text">
    <div><h1>{{instruction}}</h1></div>
    <div id="fail" class="hidden"><h1>Oups... ce n'est pas ça ! :)</h1></div>
</div>
<div id="selection" class="flex-container">
{% for element in elements %}
    {% if element.winner == None %}
        <div class="forrest" style="background-size: {{ forrest_sprites_size }}%; background-position: {{ element.offset }}% 0;"></div>
    {% else %}
        <div class="animal" onclick={% if element.winner %}won(){% else %}lost(){% endif %} style="background-size: {{ animals_sprites_size }}%; background-position: {{ element.offset }}% 0;"></div>
    {% endif %}
{% endfor %}
</div>
<div id="won" class="hidden">
    <div><h1>Bravo ! Tu as trouvé !!</h1></div>
    <div><button class='button' onclick="location.reload();">Rejouer</button></div>
    <div id="happies_squirrels">
        <img src='{% static "won_shadow2.png" %}' width="20%" height="auto" class="under left" />
        <img src='{% static "won_squirrel2.png" %}' width="20%" height="auto" class="over left" />
        <img src='{% static "won_shadow3.png" %}' width="20%" height="auto" class="under left" />
        <img src='{% static "won_squirrel3.png" %}' width="20%" height="auto" class="over left" />
    </div>
    <div>
        <img src='{% static "won_shadow1.png" %}' width="20%" height="auto" class="under right" />
        <img src='{% static "won_squirrel1.png" %}' width="20%" height="auto" class="over right" />
    </div>
</div>
<div id="footer"></div>

<script>
    function won(elemID) {
        var yeah = new Audio('{% static "win.mp3" %}');
        yeah.play();
        document.getElementById("fail").classList.add('hidden');
        document.getElementById("selection").classList.add('hidden');
        document.getElementById("won").classList.remove('hidden');
    }

    function lost(elemID) {
        var fail = new Audio('{% static "fail.mp3" %}');
        fail.play();
        document.getElementById("fail").classList.remove('hidden');
    }

    function getRandomInt() {
        return Math.floor(Math.random() * Math.floor(3));
    }

    // bug, a squirrel can be isolate in an other row hidden by the bushes
    /*
    var elements = document.querySelectorAll('.animal');
    for (var i = 0; i < elements.length; i++) {
            elements[i].style.marginLeft = getRandomInt() + "em";
            elements[i].style.marginRight = getRandomInt() + "em";
            elements[i].style.marginBottom = getRandomInt() + "em";
    }
    */

    let forrest = new Audio('{% static "forrest.mp3" %}');
    forrest.loop = true;
    forrest.play();

    var instruction = new Audio('{% static instruction_sound %}');
    instruction.play();
</script>

</body>
</html>
